:root {
    --cor-primaria: #000;
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

.cont1 {
    height: 100%;
    background-color: rebeccapurple;
    border: 3px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.cont2 {
    height: 100%;
    background-color: rebeccapurple;
    border: 3px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.cont3 {
    height: 100%;
    background-color: rebeccapurple;
    border: 3px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.container1 {
    height: 100%;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.container2 {
    height: 100%;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.container3 {
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
}

.contido {
    width: 35%;
    height: 800px;
    background-color: aquamarine;
    border: 1px solid #000;
    border-radius: 15px;
    transition: all, .45s;
    color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 10px 0;
    
}

.contido:hover {
    background-color: brown;
    color: #000;
    font-size: 20pt;
    width: 60%;
    height: 110%;
}

.titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

pre {
    font-size: 11pt;
}

h4 {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    font-size: 14pt;

}

.container1 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    height: 220px;
}

.container1 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height: 220px;
}

.container1 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 220px;
}

.container1 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 220px;
}

.container1 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: initial;
    height: 220px;
}

.container1 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: inherit;
    height: 220px;
}

.container2 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(7) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container2 div:nth-of-type(8) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(7) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(8) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}
.container3 div:nth-of-type(9) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 220px;
}