:root {
    --cor-primaria: #000;
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

.container1 {
    height: 100%;
    background-color: blanchedalmond;
    border: 1px solid #000;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-content: flex-start;
}

.container2 {
    height: 100%;
    background-color: blanchedalmond;
    border: 1px solid #000;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-content: flex-start;
}

.container3 {
    height: 100%;
    background-color: blanchedalmond;
    border: 1px solid #000;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: flex-start;
}

.contido {
    width: 200px;
    height: 110px;
    background-color: aquamarine;
    border: 1px solid #000;
    border-radius: 15px;
    transition: all, .45s;
    color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 10px 0;
}

.contido:hover {
    background-color: brown;
    color: #000;
    font-size: 20pt;
    width: 1000px;
}

.container1 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    height: 110px;
}

.container1 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height: 110px;
}

.container1 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 110px;
}

.container1 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: 110px;
}

.container1 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: initial;
    height: 110px;
}

.container1 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: inherit;
    height: 110px;
}

.container2 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(5) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(6) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(7) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}
.container2 div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction: flex-start;
    height: 110px;
}