:root {
    --primeiro: #FF0018;
    --segundo: #FFA52C;
    --terceiro: #FFFF41;
    --quarto: #008018;
    --quinto: #0000F9;
    --sexto: #86007D;
    --setimo: #ffffff;
    --oitavo: #000000;
    --cor-nome: #bae0a3;
    --cor-propriedade: #5395fd;
    --cor-valor: #d97171;
    --cor-ponto: #ffffff;
    --fundo-code: #20273c;
    --cor-primairo: #1b1b1b;
    --cor-secundario: #000000;
    --cor-terciario: #1b1b1b;
} /* Cores */
html {
    scroll-behavior: smooth;
    background-color: var(--cor-primairo);
    margin: 0;
} /* comportamento-da-rolagem: suave */

/*botão para retornor ao topo*/
.btnSupEsquerdo{
	position: fixed;
	float: top;
	bottom: 10%;
	right: 8%;
	z-index: 100;
}
.btnPesquisarInput, .btnPesquisarBtn , .btnMaisBotoesBtn, .btnMaisBotoesGrupo{
	display: inline-block;
}
.btnCircular{
	border-radius: 10px;
    background-color: var(--primeiro);
    color: #000000;
}
.btnPrincipal{
	font-size: 100%;
	padding: 13px;
    scroll-behavior: smooth;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 10px;
    padding: 15px;
}
.menu h1{
    font-size: 35px;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    align-content: space-evenly;
    justify-content: center;
}
.botoes h2{
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: var(--fundo-code);
}
.botoes h2:hover{
    background-color: var(--cor-terciario);
    opacity: 75%;
}
.botoes a{
    color: var(--cor-propriedade);

    margin: 5px
}
.botoes a:hover{
    color: var(--cor-valor);
}
pre{
    margin: 0;
}
a{
    text-decoration: none;
    color: initial;
    cursor: initial;
}
h1{
    color: var(--cor-ponto);
    font-family: monospace;
}
h2 {
    color: var(--cor-propriedade);
    margin: 0;
}
section {
    padding-bottom: 20px;
}
.descricao{
    color: var(--cor-valor);
    font-family: monospace;
    font-size: 16px;
}
.nome{
    color: var(--cor-nome);
}
.propriedade{
    color: var(--cor-propriedade);
}
.valor{
    color: var(--cor-valor);
}
.ponto{
    color: var(--cor-ponto);
}
code{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    row-gap: 7px;
    border-radius: 10px;
    font-family: monospace;
    background-color: var(--fundo-code);
}

/* Propriedades e valores da div's principais */
.primario {
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
    margin: 0;
    background-color: var(--cor-primairo);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secundario{
    height: 100%;
    width: 800px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    margin: 10px 0 0 10px;
    background-color: var(--cor-secundario);
    display: flex;
    flex-direction: column;
}
.terciario {
    height: 200px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    background-color: var(--cor-terciario);
}
.terciario-fw{
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    background-color: var(--cor-terciario);
}
.terciario-ff {
    height: 200px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    background-color: var(--cor-terciario);
}

/* Cor de todos os quadrados */
.terciario div:nth-child(1){
    background-color: var(--primeiro);
}
.terciario div:nth-child(2){
    background-color: var(--segundo);
}
.terciario div:nth-child(3){
    background-color: var(--terceiro);
}
.terciario div:nth-child(4){
    background-color: var(--quarto);
}
.terciario div:nth-child(5){
    background-color: var(--quinto);
}
.terciario div:nth-child(6){
    background-color: var(--sexto);
}
.terciario div:nth-child(7){
    background-color: var(--setimo);
}
.terciario div:nth-child(8){
    background-color: var(--oitavo);
    color: #ffffff;
}
.terciario-fw div:nth-child(1){
    background-color: var(--primeiro);
}
.terciario-fw div:nth-child(2){
    background-color: var(--segundo);
}
.terciario-fw div:nth-child(3){
    background-color: var(--terceiro);
}
.terciario-fw div:nth-child(4){
    background-color: var(--quarto);
}
.terciario-fw div:nth-child(5){
    background-color: var(--quinto);
}
.terciario-fw div:nth-child(6){
    background-color: var(--sexto);
}
.terciario-fw div:nth-child(7){
    background-color: var(--setimo);
}
.terciario-fw div:nth-child(8){
    background-color: var(--oitavo);
    color: #ffffff;
}
.terciario-ff div:nth-child(1){
    background-color: var(--primeiro);
}
.terciario-ff div:nth-child(2){
    background-color: var(--segundo);
}
.terciario-ff div:nth-child(3){
    background-color: var(--terceiro);
}
.terciario-ff div:nth-child(4){
    background-color: var(--quarto);
}
.terciario-ff div:nth-child(5){
    background-color: var(--quinto);
}
.terciario-ff div:nth-child(6){
    background-color: var(--sexto);
}
.terciario-ff div:nth-child(7){
    background-color: var(--setimo);
}
.terciario-ff div:nth-child(8){
    background-color: var(--oitavo);
    color: #ffffff;
}

/* Valores de todos quadrados */
.contem-ai:nth-of-type(odd){
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contem-ai:nth-of-type(even){
    height: 200px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contem-ais{
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.contem-ac{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contem{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contem-b1{
    background-color: var(--primeiro);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contem-b2{
    background-color: var(--segundo);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contem-b3{
    background-color: var(--terceiro);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contem-b4{
    background-color: var(--quarto);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contem-b5{
    background-color: var(--quinto);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contem-b6{
    background-color: var(--sexto);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hover dos contem */
.contem:hover {
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-ai:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-ais:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-ac:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: transparent;
}
.contem-b1:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-b2:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-b3:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-b4:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-b5:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.contem-b6:hover{
    background-image: url(./shrek.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #20273c;
    margin: 0;
}
.contatos{
    margin: 0;
}

/* As propriedades e valores de item da Flexbox */
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}
.flex-direction-initial{
    flex-direction: initial;
}
.flex-direction-inherit{
    flex-direction: inherit;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.justify-content-initial{
    justify-content: initial;
}
.justify-content-inherit{
    justify-content: inherit;
}
.align-items-normal{
    align-items: normal;
}
.align-items-stretch{
    align-items: stretch;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-start{
    align-items: flex-start;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-start{
    align-items: start;
}
.align-items-end{
    align-items: end;
}
.align-items-baseline{
    align-items: baseline;
}
.align-items-initial{
    align-items: initial;
}
.align-items-inherit{
    align-items: inherit;
}
.align-content-stretch{
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-center{
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-flex-start{
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-flex-end{
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-space-between{
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-space-around{
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-space-evenly{
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-initial{
    align-content: initial;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-content-inherit{
    align-content: inherit;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-wrap-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-wrap-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.flex-wrap-initial{
    flex-wrap: initial;
}
.flex-wrap-inherit{
    flex-wrap: inherit;
}
.row-nowrap{
    flex-flow: row nowrap;
}
.row-wrap{
    flex-flow: row wrap;
}
.row-wrap-reverse{
    flex-flow: row wrap-reverse;
}
.row-reverse-nowrap{
    flex-flow: row-reverse nowrap;
}
.row-reverse-wrap{
    flex-flow: row-reverse wrap;
}
.row-reverse-wrap-reverse{
    flex-flow: row-reverse wrap-reverse;
}
.column-nowrap{
    flex-flow: column nowrap;
}
.column-wrap{
    flex-flow: column wrap;
}
.column-wrap-reverse{
    flex-flow: column wrap-reverse;
}
.column-reverse-nowrap{
    flex-flow: column-reverse nowrap;
}
.column-reverse-wrap{
    flex-flow: column-reverse wrap;
}
.column-reverse-wrap-reverse{
    flex-flow: column-reverse wrap-reverse;
}

.secundario-m{
    height: 199px;
    width: 800px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px -9px 0 -1px;
    border: 2px solid #ffffff;
    padding: 1px 25px;
    background-color: var(--cor-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
}
.terciario-m{
    width: 78%;
    height: 75%;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciario);
    font-size: 200px;
    color: var(--cor-ponto)
}
.terciario-m:hover{
    background-image: url(./shrek.png);
    background-position: center;
    color: transparent
}
@media screen and (max-width: 800px) {
    html{
        margin: 0%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.1rem;
    }
    code pre{
        font-size: 0.75rem;
    }
    .primario{
        width: 100%;
        height: 100%;
        margin: 0%;
    }
    .secundario{
        width: 85%;
        height: 40%;
        margin: 0.5rem;
    }
    .terciario-fw{
        height: 10rem;
    }
    .contem-ai:nth-of-type(odd){
        height: 50%;
        width: 30%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contem-ai:nth-of-type(even){
        height: 80%;
        width: 30%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contem{
        width: 13%;
        height: 25%;
    }
    .contem-ais{
        display: flex;
        align-items: stretch;
    }
    .secundario-m{
        height: 95%;
        width: 84%;
    }
    .terciario-m{
        width: 85%;
        height: 85%;
        margin: 10px 0 10px 0;
        font-size: 1250%;
    }
}